Repository chef/chef-foundation, pull requests merged in 2023-12, with the labels that each got.

#93 adding 2-stable back
  .expeditor/config.yml
Labels: Expeditor: Skip All

#92 adding contribution how to
  CONTRIBUTING.md
  README.md
Labels: Expeditor: Skip All

#90 Chef-17 Migration
  .expeditor/release.omnibus.yml
  Gemfile
  Gemfile.lock
  config/projects/chef-foundation.rb
  omnibus_overrides.rb
Labels: Expeditor: Bump Version Patch

#97 attempting to bump version
  .expeditor/config.yml
  VERSION
Labels: Expeditor: Skip Omnibus
